<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="js/app.js"></script>
    <script src="js/tasksController.js"></script>
    <script src="js/navigationController.js"></script>
  </head>

  <body ng-controller="TasksController as controller">
    <div>
      <h1> To do list </h1>
      <section>
          <form>
            <input type="text" ng-model="controller.submittedTask" placeholder="My new task is.." >
            <button class="btn" ng-click="controller.addTasks()" >Add</button>
          </form><br>
          <ul class="list-tasks "ng-repeat="task in controller.allTasks">
            <span class="edit" editable-text="task.task" e-form="textBtnForm"> {{task.task}}</span>
               <input class="completed" type='checkbox' ng-model="task.completed">
            <button class="editText" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">Edit</button>
            </span>
          </ul>
        </section>
         <section ng-controller="NavigationController as tab">
            <span id="total"> Number of tasks: {{ controller.calcAll()}} </span>
            <div class="navigation-panels">
              <button id="all" ng-click="tab.setTab(1)">All</button>
              <button id="active" ng-click="tab.setTab(2)">Active</button>
              <button id="done" ng-click="tab.setTab(3)">Completed</button>
              <button id="remove" ng-click="controller.deleteTask($index)">Delete Completed Tasks</button>
            </div>
            <div class="displayInf">
              <ul ng-show="tab.isSet(1)" ng-repeat="task in controller.allTasks"> {{task.task}} </ul>
              <ul ng-show="tab.isSet(2)" ng-repeat="task in controller.allTasks | filter:{completed: false }">{{ task.task }}</ul>
              <ul ng-show="tab.isSet(3)" ng-repeat="task in controller.allTasks | filter:{completed: true }">{{ task.task }}</ul>
            <div>
        </section>
    </div>
  </body>
</html>